[Unit]
Description=Argon One control service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/argond.py
ExecStopPost=/usr/bin/python3 /usr/lib/systemd/system-shutdown/argon-poweroff.py halt
Restart=always

[Install]
WantedBy=multi-user.target
