[Unit]
Description=Argon One control service
After=multi-user.target

[Service]
Type=simple
Restart=always
RemainAfterExit=true
ExecStart=/usr/bin/python3 /usr/bin/argond.py

[Install]
WantedBy=multi-user.target
